.wrapper {
  width: 100%;
  padding-left: 40px;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: #f5f8fa;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleArea {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 20px;
}

.title {
  width: 100%;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 700;
  padding: 0 30px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
}

.title:read-only {
  width: 100%;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 700;
  padding: 0 30px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
}

.textArea {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 20px;
}

.text {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  overflow: scroll;
  height: 530px;
  border: none;

  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
  outline: none;
  resize: none;
}

.text:read-only {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  overflow: scroll;
  height: 530px;
  border: none;

  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
  outline: none;
  resize: none;
}

.editButtonArea {
  display: flex;
  gap: 10px;
}
